
<div class="nav-posts">
    <div class="bar">
        <input type="text" class="search"  ng-model="query" placeholder="Enter your search terms" />
    </div>
    <div class="checkbox">
        <label>
            Selected All  <input ng-model="master"   type="checkbox">
        </label>
    </div>
</div>
    <div class="allPosts" ng-repeat="item in items | filter:query">

      <a href="#DetailPage/{{item.id}}">{{ item.title}}</a>

        <div class="checkbox">
            <input ng-model="item.check" ng-checked="master" type="checkbox">
    </div>
        <a href="#EditPost/{{item.id}}" class="edit-item">Edit</a>
        <a class="delete-item" ng-click="DeleteItem()">Delete</a>
    </div>
