<form name="sendForm">

    <div class="form-group">
        <label for="Input2">Title</label>
        <input name="title" ng-model="send.title" type="text" class="form-control" id="Input2" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="Input3">Post</label>
        <input name="body" ng-model="send.body" type="text" class="form-control" id="Input3" placeholder="Post">
    </div>

    <div class="form-group">
        <label for="Input1">User ID</label>
        <input name="userId" ng-model="send.userId" type="number" class="form-control" id="Input1" placeholder="User ID">
    </div>

    <button type="submit" class="btn btn-default" ng-click="SendData(send)">Send</button>
    <a type="button" class="btn btn-default" href="#ListingPage">Back</a>
</form>